body{
    margin: 0%;
    background-color: whitesmoke;
}
header{
    background-color: #4ABDAC;
    margin: 0px;
}

h1{
    margin: 0px;
    padding-top: 20px;
    font-size: 55px;
    font-family: 'Valid Harmony';
    color: white;
    animation: chegar 2s cubic-bezier(0,.87,1,1.79);
}
@keyframes chegar{
    0%{
        transform: translate(1500px);
    }
    50%{
       transform: rotateY(180deg); 
    }
}

#news{
    padding-top: 10px;
    width: 120px;
    height: auto;
    float: left;
    margin-left: 34%;
    animation: surgir 2s ease;
}
@keyframes surgir{
    0% {
        transform: scale(0);
    }
    60% {
        transform: scale(0);
    }
    70% {
        transform: scale(0.5);
    }
    100% {
        transform: scale(1);
    }
}

nav{
    background-color: #48afa0;
    padding: 10px;
    margin-left: 0%;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
}

nav ul{
    text-align: center;
}

nav li{
    display: inline-block;
    padding: 10px 40px;
    margin: 0px 10px;
    transition: all 1s ease 0s;
    
}
nav li:hover{
    background-color: rgb(2, 68, 68);
    border-radius: 15px;
    transform: scale(1.1);
}

nav a{
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-family: cursive;
    padding: 0px;
}



section{
    background-color: #e6decc;
    margin: 0px 100px;
    border-radius: 15px;
}

article{
    background-color: #e6decc;
    margin: 0px 100px;
    border-radius: 15px;
}
p{
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
    color: #382d28;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    padding-top: 10px;
    padding-left: 20px;
    color: #382d28;
}

.noticia{
    padding-left: 15px;
    width: 450px;
    height: auto;
}
li{
    padding-bottom: 20px;
    padding-left: 20px;
    font-size: 20px;
    color: #382d28;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}
iframe{
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    width: 600px;
    height: 350px;
}
footer{
    background-color: #4ABDAC;
    margin: 0px;
    margin-top: 22px;
}
.cabeçalho{
    margin: 0%;
    text-align: center;
    font-size: 16px;
    padding-top: 20px;
    color: white;
}

p a:link{
    text-decoration: underline;
}

p a:visited{
    text-decoration: underline;
    color: rgba(86, 142, 168, 0.781)
}

#chuva{
    border-radius: 20px;
    margin-left: 245px;
    margin-bottom: 10px;
}

#covid{
    float: left;
}